<%- include ('partials/header.ejs') %> 
<%- include ('partials/navbar.ejs') %> 
    <div class="col-md-6 mt-5 mx-auto">

        <h1 class="fw-bold"><%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %> </p>

        <hr>

        <div>
            <h4 class="fw-bold mb-4"><%= respostas.length %> Respostas</h4>
            <% respostas.forEach(resposta => { %>
                <div class="rounded-3 bg-white p-4 mb-4">
                    <p><%= resposta.corpo %></p>
                </div>
            <% }) %>
        </div>

        <form method="POST" action="/responder" class="rounded-3 bg-white mt-5 p-4">
            <h4 class="mb-4">Deixe sua resposta</h4>
            <div class="form-floating mb-3">
                <textarea 
                    name="corpo"
                    class="form-control" 
                    id="corpo" 
                    placeholder="Responsa a pergunta"></textarea>
                <label for="corpo">Resposta da pergunta</label>
            </div>
            <input 
                type="hidden" 
                name="perguntaId" 
                value="<%=pergunta.id%>">

            <div class="d-flex justify-content-end">
                <button class="btn btn-success">Responder</button>
            </div>
        </form>
    </div>

<%- include('partials/footer.ejs') %> 