<%- include('../partials/header.ejs')  %> 
    <%- include('../partials/navbar.ejs')  %> 
    <div class="col-6 mx-auto mt-5">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h1 class="fw-bolder"> Perguntas mais recentes </h1>
            <a href="/perguntar" class="btn btn-lg btn-dark">Perguntar</a>
        </div>
        <% perguntas.forEach(pergunta => { %>
            <br>
            <div class="pergunta p-3">
                <h5 class="mb-4 titulo"><%= pergunta.titulo %></h5>
                <p class="descricao"><%= pergunta.descricao %> </p>
                <div class="d-flex justify-content-end p-3">
                    <a href="/pergunta/<%= pergunta.id %>"</a><button class="btn btn-sm btn-light border fw-light">Responder</button></a>
                </div>
            </div>
        <% }) %>
    </div>

<%- include('../partials/footer.ejs')  %> 